@font-face {
  font-family: 'cabanaregular';
  src: url('../fonts/cabana/cabana-regular-webfont.woff2') format('woff2'), url('../fonts/cabana/cabana-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mosk';
  src: url('../fonts/mosk/mosk_bold_700-webfont.woff2') format('woff2'), url('mosk_bold_700-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mosk';
  src: url('../fonts/mosk/mosk_extra-bold_800-webfont.woff2') format('woff2'), url('mosk_extra-bold_800-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'mosk';
  src: url('../fonts/mosk/mosk_extra-light_200-webfont.woff2') format('woff2'), url('mosk_extra-light_200-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'mosk';
  src: url('../fonts/mosk/mosk_light_300-webfont.woff2') format('woff2'), url('mosk_light_300-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mosk';
  src: url('../fonts/mosk/mosk_medium_500-webfont.woff2') format('woff2'), url('mosk_medium_500-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'mosk';
  src: url('../fonts/mosk/mosk_normal_400-webfont.woff2') format('woff2'), url('mosk_normal_400-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mosk';
  src: url('../fonts/mosk/mosk_semi-bold_600-webfont.woff2') format('woff2'), url('mosk_semi-bold_600-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'mosk';
  src: url('../fonts/mosk/mosk_thin_100-webfont.woff2') format('woff2'), url('mosk_thin_100-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'mosk';
  src: url('../fonts/mosk/mosk_ultra-bold_900-webfont.woff2') format('woff2'), url('mosk_ultra-bold_900-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
