html,
body {
  min-height: 100%; // height: 100%;
}

body {
  background: #770f26;
  background: linear-gradient(45deg, #770f26, lighten(#770f26, 15)); // background: linear-gradient(45deg, #b4802c 25%, #770f26 25%, #770f26 50%, #bf4d26 50%, #bf4d26 75%, #333 75%, #333 100%);
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  p {
    font-size: $h6-font-size;
    margin-bottom: 2rem;
  }

  > * {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .wide {
    max-width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.wrap {
  background: #fff;
  padding: 1em;
  background-clip: content-box;
}

.home-title {
  font-size: $h1-font-size * 2;
  line-height: 1;
  margin-bottom: 2rem;
}

.null-instagram-feed {
  .widgettitle {
    display: none;
  }
}

.instagram-pics {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;

  li {
    list-style: none;
    width: 50%;
    padding: 1%;

    @include media-breakpoint-up(md) {
      width: 30%;
    }
  }

  img {
    display: block;
    width: 100%;
  }
}

.menu-price {
  padding-left: 0.5rem;
  font-size: 2rem;
}

.google-maps {
  position: relative;
  padding-bottom: 60%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.find-us {
  main.main {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;

    > * {
      max-width: 100%;
    }
  }
}
