$primary: #bf4d26;
$body-color: #333;
$font-size-base: 1.2rem;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;
$font-family-sans-serif: 'mosk', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-family: 'cabanaregular';

$mod: 1.2;
$h1-font-size: $font-size-base * 2.5 * $mod;
$h2-font-size: $font-size-base * 2 * $mod;
$h3-font-size: $font-size-base * 1.75 * $mod;
$h4-font-size: $font-size-base * 1.5 * $mod;
$h5-font-size: $font-size-base * 1.25 * $mod;
$h6-font-size: $font-size-base * $mod;
