.banner {
  .nav {
    justify-content: flex-end;
  }

  .brand {
    display: block;
    // width: 50%;
    max-width: 30%;
  }

  .logo {
    width: 100%;
    max-width: 8em;
  }

  @include media-breakpoint-down(sm) {
    .brand {
      width: 100%;
      max-width: 100%;
      margin-bottom: 2rem;
    }

    .logo {
      display: block;
      margin: 0 auto;
    }

    .nav {
      justify-content: center;
    }
  }
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;

  // font-family: $headings-font-family;
  // font-size: $h6-font-size;
  text-transform: uppercase;
  font-weight: 900;
}
